$fuentePrincipal: "Crimson Text", "serif";

//Colores
$blanco: #ffffff; 
$oscuro: #212121;
$primario:#ffc107;
$secundario:#166136;
$gris:#757575;
$grisclaro:#dfe9f3;


// MediaQueries
$iphone:320px;
$telefono:480px;
$tablet:768px;
$desktop:1200px; 


// Fuentes
$delgada:300;
$regular:400;
$bold:700;

// Separaciones
$separacion:5rem;   
