.footer{
    background-color: $secundario;
    padding: 1rem;
    .titulo-footer{
        text-align: center;
        // color: #ffffff;
        font-size: 3rem;
        font-weight: 100;
    }
}
